*{
    padding: 0;
    margin: 0;
}
html{
    cursor: url(./imagens/cursor/macaco-removebg-preview.cur), default;
    overflow-x: hidden;
}
/* Grid site itens */
.item1 { grid-area: header; border: 2px solid black; padding: 10px; text-align: center; font-size: 30px; transition: ease-in-out 1s;}
.item2 { grid-area: imagem; border: 2px solid black;padding: 10px; transition: ease-in-out 1s;}
.item3 { grid-area: main; border: 2px solid black; padding: 10px; padding-left: 10%; padding-right: 10%;}
.item4 { grid-area: code; border: 2px solid black; padding: 10px; transition: ease-in-out 1s;} 
/*grid Cores itens*/
.item5 { grid-area: header_color; background: rgba(255, 0, 0, 0.701); padding: 30px; transition:linear;}
.item6 { grid-area: imagem_color; background: rgba(0, 0, 255, 0.705); padding: 30px;}
.item7 { grid-area: main_color; background: rgba(255, 255, 255, 0.704); padding: 30px; }
.item8 { grid-area: code_color; background: rgba(0, 128, 0, 0.703); padding: 30px;}

/* grid cores hover*/
.item5:hover{background: rgb(255, 0, 0);}
.item6:hover{background: rgb(0, 0, 255);}
.item7:hover{background: rgb(255, 255, 255);}
.item8:hover{background: rgb(0, 128, 0);}


/* grid site hover*/
.item1:hover{transform: scale(1.02);border-color: red;background: red;}
.item2:hover{transform: scale(1.02);border-color: blue;background: blue;}
.item4:hover{border-color: green; background: green;}



.container_cores{
    z-index: 1000;
    /* Grid container */
    width: 100%;
    display: grid;
    grid-template-areas: 
    'header_color imagem_color main_color code_color';
    grid-template-columns: 1fr 1fr 1fr 1fr;    
    /* Texto container */
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    position: fixed;
}

.container{
    /* Grid container */
    z-index: 100;
    display: grid;
    grid-template-areas:
    'header imagem'
    'main main'
    'code code';
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    border: 2px solid black;
    align-items: center;  
    padding-top: 82.4px;
}
img{
    width: 100%;
    height: 100%;
}
.item3 p{
    font-size: 15px;
    text-align: justify; font-size: 20px;
    letter-spacing: 2px;
    /* Definir recuo da primeira linha */
    text-indent: 50px;
    margin-bottom: 10px;
}


.propriedade1{grid-area: grid-area; border: 1px solid black; }
.propriedade2{grid-area: grid-template-areas; border: 1px solid black; }
.propriedade3{grid-area: grid-template-columns; border: 1px solid black; }
.propriedade4{grid-area: grid-template-rows; border: 1px solid black; }
.propriedade5{grid-area: grid-template; border: 1px solid black; }
.propriedade6{grid-area: gap; border: 1px solid black; }

.container_propriedades{
    display: grid;
    grid-template-areas:
    'grid-area grid-template-areas'
    'grid-template-columns grid-template-rows'
    'grid-template gap';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 30px;
    column-gap: 70px;
    
    color: white;
}
.propriedades_estilo_geral{
    -webkit-box-shadow: 10px 12px 10px -5px rgba(0,0,0,0.44);
    -moz-box-shadow: 10px 12px 10px -5px rgba(0,0,0,0.44);
    box-shadow: 10px 12px 10px -5px rgba(0,0,0,0.44);
    border-radius: 10px;
    background-color: #1f1f1f;

    padding: 30px;
    align-items: center;
    transition: .2s linear;
}
.propriedades_estilo_geral:hover{
    transform: scale(1.02);
}


.propriedades_estilo_geral h3{
    font-size: 20px;
    margin-bottom: 20px;
}
.propriedades_estilo_geral p{
    font-size: 15px;
}
pre {
    background: #1f1f1f;
    border: 1px solid #ddd;
    border-left: 8px solid #f36d33;
    color: #ffcc00;
    font-size: 15px;
    margin-bottom: 1.6em;
    width: 100%;
    word-wrap: break-word;
    white-space: pre-wrap;
}
code{
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 80%;
}
.propriedades_estilo_geral img{
    display: grid;
    margin: auto;
    width: 40%;
}

@media (max-width: 1290px){
    
   
    .container_propriedades{
        grid-template-columns: 1fr;
        grid-template-areas:
        'grid-area'
        'grid-template-areas'
        'grid-template-columns'
        'grid-template-rows'
        'grid-template'
        'gap';
}
    
}

/* </---- imagens -----> */
@media (max-width: 780px){
    
    .item3{
        padding-left: 10px; padding-right: 10px;
    }
    .item5{ background-color: red;}
    .item6{ background-color: blue;}
    .item7{ background-color: yellow;}
    .item8{ background-color: green;}
    .container_cores{
        grid-template-columns: 1fr;
        grid-template-areas: 
        'header_color'
        'imagem_color'
        'main_color'
        'code_color';
        width: 100%;
        position: relative;
    }
    
    .container{
        grid-template-columns: 1fr;
        grid-template-areas:
        'header header'
        'imagem imagem'
        'main main'
        'code code';
        padding-top: 10px;
    }
    .container img{
        width: 100%;
        height: 100%;
    }
    .propriedades_estilo_geral{
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
    }
    .propriedades_estilo_geral .area{
        width: 100%;
        height: 40%;
    }
    pre{
        width: 100%;
        border-left: 5px solid orange;
        margin-left: -5px;
        
    }
    code{
        width: 100%;
        
    }
    .propriedades_estilo_geral img{
        width: 40%;
    }
    
    .item1{background-color: red;}
    .item2{background-color: blue;}
    .item3{background-color: white;}
    .item4{background-color: green;}
}